@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --beige: #DDD0C8;
    --darkgrey: #323232;
}

body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: var(--beige);
    color: var(--darkgrey);
}

nav{
    display: flex;  
    justify-content: space-between;
    font-size: 1.5rem;
    padding: .5rem;
}

.styleremover{
    text-decoration: none;
    color: var(--darkgrey);
}

.homebody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 3rem;
    min-height: 10vh;
    margin-bottom: 2rem;
}

.intro{
    padding: 4rem;
    font-size: 1.4rem;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

footer > *{
    margin: 0rem 2.6rem;
}

.plannerbody{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#inputwindow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#resultwindow{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#countrieslist{
    display: flex;
    flex-direction: row;
}

#countrieslist > *{
    padding: 1.2rem;
}

#visafree{
    display: flex;
    flex-direction: column;
}

#eligible{
    display: flex;
    flex-direction: column;
}

#buttons-case{
    display: flex;
    flex-direction: row;
}

#buttons-case > *{
    margin: .4rem;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgrey);
    color: whitesmoke;
    width: 8rem;
    height: 2rem;
    padding: 0.6rem;
    border-radius: .3rem;
}

.buttons:hover{
    cursor: pointer;
    display: flex;
    background-color: rgb(67, 67, 67);
    color: var(--darkgrey);
    background-color: whitesmoke;
}

.fontbig{
    font-size: 1.5rem;
}

.form{
    padding: .4rem;
    display: flex;
}

.participants{
    min-width: 60vw;
    display: flex;
    justify-content: space-between;
}

.participants > * {
    /* margin-right: 2rem; */
    margin-bottom: 2rem;
}

.end-buttons{
    min-width: 50vh;
    display: flex;
    justify-content: space-evenly;
}