@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --navcolor: ;
}

body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
}

nav{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: .5rem;
}

.styleremover{
    text-decoration: none;
    color: black;
}

.homebody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 3rem;
    min-height: 10vh;
    margin-bottom: 2rem;
}

.intro{
    padding: 4rem;
    font-size: 1.4rem;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

footer > *{
    margin: 1rem;
}

.plannerbody{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 8rem;
    height: 2rem;
    padding: 0.6rem;
    border-radius: .3rem;
}

.buttons:hover{
    cursor: pointer;
    display: flex;
    background-color: rgb(67, 67, 67);
    color: white;
}

.form{
    padding: .4rem;
    display: flex;
}

.participants{
    min-width: 60vw;
    display: flex;
    justify-content: space-between;
}

.participants > * {
    /* margin-right: 2rem; */
    margin-bottom: 2rem;
}

.end-buttons{
    min-width: 50vh;
    display: flex;
    justify-content: space-evenly;
}